<div id="error">
  <h3>Error</h3>
  <p>
    There was an error while {{action}}.
  </p>
  <p>
    Message: {{message}}
  </p>

  <div>
    <a href="/vehicles" class="btn btn-secondary" role="button">Start over</a>
  </div>
</div>
